<html>
    <body>
        <form action = '/formans3' method = "post">
            Name: <input type = "text" placeholder="Enter the name" name = "txt1" required /><br/>
            Mobile: <input type = "number"  placeholder="Mobile" name = "txt2" required /><br/>
            Message: <intput type = "textbox" placeholder = "Message" name = "txt3" required /><br/>
            <input type="submit"></br>
        </form>
    </body>
</html>